:root {
	--foreground-one: #222222;
	--foreground-two: #444444;

	--background-one: #ffffff;
	--background-two: #f9f9f9;

	--border: #dddddd;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
input,
button {
	color: var(--foreground-one);
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	letter-spacing: 0.25px;
}

input,
button {
	background: none;
	border: none;
	outline: none;
}

body {
	background-color: var(--background-two);
}

.header {
	height: 4rem;
	padding: 0 1rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: var(--background-one);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

.header a {
	color: var(--foreground-one);
	font-size: 1.125rem;
	font-weight: 600;
	text-decoration: none;
}
